        <footer >
            <div class="mkd-footer-inner clearfix">

                
<div class="mkd-footer-top-holder">
	<div class="mkd-footer-top mkd-light-skin mkd-footer-top-aligment-left" style="background-color: #282828;">
		
		<div class="mkd-container">
			<div class="mkd-container-inner">

		<div class="mkd-four-columns clearfix">
	<div class="mkd-four-columns-inner">
		<div class="mkd-column">
			<div class="mkd-column-inner">
				<div id="text-21" class="widget mkd-footer-column-1 widget_text">			<div class="textwidget"><p><span style="margin-left: 10px;"><a href="https://www.ableton.com/en/certified-training/garnish-music-production-school/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external"><span style="font-size: 16px;"><strong>Ableton</strong> Certified Training Center</span></a></span></p>
</div>
		</div><div id="block-5" class="widget mkd-footer-column-1 widget_block">
<div id="x_icon_widget-3" class="widget mkd-footer-column-1 widget_x_icon_widget">

<div id="mkd_social_icon_widget-6" class="widget mkd-footer-column-1 widget_mkd_social_icon_widget">
        <a class="mkd-social-icon-widget-holder" style="margin: 0 14px 0 0" href="https://bsky.app/profile/garnishmusic.bsky.social" target="_blank" data-wpel-link="external" rel="external noopener noreferrer">
            <i class="fa-brands fa-bluesky"></i>        </a>

        </div>
        
  <div id="mkd_social_icon_widget-18" class="widget mkd-footer-column-1 widget_mkd_social_icon_widget">
        <a class="mkd-social-icon-widget-holder" style="margin: 0 14px 0 0" href="https://twitter.com/garnishmusic" target="_blank" data-wpel-link="external" rel="external noopener noreferrer">
           <i class="fa-brands fa-x-twitter"></i>       </a>

        </div>    
        <div id="mkd_social_icon_widget-18" class="widget mkd-footer-column-1 widget_mkd_social_icon_widget">
        <a class="mkd-social-icon-widget-holder" style="margin: 0 14px 0 0" href="https://www.youtube.com/user/garnishschoolofsound" target="_blank" data-wpel-link="external" rel="external noopener noreferrer">
            <i class="mkd-social-icon-widget fa fa-youtube-play"></i>        </a>

        </div>    
        <div id="mkd_social_icon_widget-11" class="widget mkd-footer-column-1 widget_mkd_social_icon_widget">
        <a class="mkd-social-icon-widget-holder" style="margin: 0 14px 0 0" href="https://www.instagram.com/garnishmusic/" target="_blank" data-wpel-link="external" rel="external noopener noreferrer">
            <i class="mkd-social-icon-widget fa fa-instagram"></i>        </a>

        </div>    
        <div id="mkd_social_icon_widget-6" class="widget mkd-footer-column-1 widget_mkd_social_icon_widget">
        <a class="mkd-social-icon-widget-holder" style="margin: 0 14px 0 0" href="https://www.facebook.com/garnishmusicproduction/" target="_blank" data-wpel-link="external" rel="external noopener noreferrer">
            <i class="mkd-social-icon-widget fa fa-facebook"></i>        </a>

        </div> 

        </div></div><div id="text-2" class="widget mkd-footer-column-1 widget_text">			<div class="textwidget">__FOOTER_COPYRIGHT_TOP__</div>
		</div>			</div>
		</div>
		<div class="mkd-column">
			<div class="mkd-column-inner">
				<div id="text-29" class="widget mkd-footer-column-2 widget_text"><h5 class="mkd-footer-widget-title">USA</h5>			<div class="textwidget"><div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li style="list-style-type: none;"><a href="https://la.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Los Angeles</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li style="list-style-type: none;"><a href="https://mia.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Miami</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://nsh.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Nashville</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li style="list-style-type: none;"><a href="https://ny.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, New York</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://sf.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, San Francisco</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://sea.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Seattle</a></li>
</ul>
</li>
</ul>
</div>
		</div>			</div>
		</div>
		<div class="mkd-column">
			<div class="mkd-column-inner">
							</div>
		</div>
		<div class="mkd-column">
			<div class="mkd-column-inner">
				<div id="text-12" class="widget mkd-footer-column-4 widget_text"><h5 class="mkd-footer-widget-title">Rest of World</h5>			<div class="textwidget"><div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://edu.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Global Hub</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://bcn.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Barcelona</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://bh.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Bournemouth</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li style="list-style-type: none;"><a href="https://ber.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Berlin</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li style="list-style-type: none;"><a href="https://hk.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Hong Kong</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li style="list-style-type: none;"><a href="https://lis.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Lisbon</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://www.garnishmusicproduction.com/" target="_blank" rel="noopener" data-wpel-link="internal">Music Production School, London</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://mrb.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Marbella</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://syd.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Sydney</a></li>
</ul>
</li>
</ul>
<div class="mkd-separator-holder clearfix  mkd-separator-left">
	<div class="mkd-separator" style="border-color: #dfdfdf;width: 100%;border-bottom-width: 1px"></div>
</div>

<ul style="font-size: 13px;">
<li style="list-style-type: none;">
<ul style="font-size: 13px;">
<li><a href="https://tyo.garnishmusicproduction.com/" target="_blank" rel="noopener external noreferrer" data-wpel-link="external">Music Production School, Tokyo</a></li>
</ul>
</li>
</ul>
</div>
		</div>			</div>
		</div>
	</div>
</div>			</div>
		</div>
		</div>
</div>

<div class="mkd-footer-bottom-holder mkd-light-skin" >
	<div class="mkd-footer-bottom-holder-inner">
					<div class="mkd-container">
				<div class="mkd-container-inner">

		<div class="mkd-column-inner">
	<div id="text-25" class="widget mkd-footer-text widget_text">			<div class="textwidget">__FOOTER_COPYRIGHT_BOTTOM__</div>
		</div></div>				</div>
			</div>
				</div>
	</div>

            </div>
        </footer>
