<header  class="mkd-page-header">
            <div class="mkd-fixed-wrapper">
        <div class="mkd-menu-area" style=";">
        			            <div class="mkd-vertical-align-containers">
                <div class="mkd-position-left">
                    <div class="mkd-position-left-inner">
                        
<div class="mkd-logo-wrapper">
    <a href="https://www.garnishmusicproduction.com/" style="height: 34px;" data-wpel-link="internal">
        <img class="mkd-normal-logo" src="/theme/images/logo.gif" alt="logo"/>
        <img class="mkd-dark-logo" src="/theme/images/logo.gif" alt="dark logoo"/>        <img class="mkd-light-logo" src="/theme/images/logo.gif" alt="light logo"/>    </a>
</div>

                    </div>
                </div>
				<div class="mkd-position-center">
					<div class="mkd-position-center-inner">
						
<nav class="mkd-main-menu mkd-drop-down mkd-default-nav">
    <ul id="menu-main-menu" class="clearfix"><li id="nav-menu-item-10668" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children mkd-has-sub mkd-menu-wide mkd-wide-background mkd-menu-right-position mkd-active-item"><a href="#" class="current mkd-no-link" style="cursor: default;" onclick="JavaScript: return false;"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">About</span></span><span class="plus"></span></span></a>
<div class="mkd-menu-second"><div class="mkd-menu-inner"><ul>
	<li id="nav-menu-item-18661" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkd-sub mkd-wide-background"><a href="#"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">London</span></span><span class="plus"></span><i class="mkd-menu-arrow fa fa-angle-right"></i></span></a>
	<ul>
		<li id="nav-menu-item-18657" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home mkd-wide-background"><a href="https://www.garnishmusicproduction.com" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Home</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-10653" class="menu-item menu-item-type-post_type menu-item-object-page mkd-wide-background"><a href="https://www.garnishmusicproduction.com/instructors/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Tutors</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-20031" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://edu.garnishmusicproduction.com/music/dave-garnish/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Dave Garnish</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-18794" class="menu-item menu-item-type-post_type menu-item-object-page mkd-wide-background"><a href="https://www.garnishmusicproduction.com/terms/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Terms</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-18795" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy mkd-wide-background"><a href="https://www.garnishmusicproduction.com/privacy-policy/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Privacy Policy</span></span><span class="plus"></span></span></a></li>
	</ul>
</li>
	<li id="nav-menu-item-10677" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mkd-sub mkd-wide-background"><a href="#" class="mkd-no-link" style="cursor: default;" onclick="JavaScript: return false;"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Locations</span></span><span class="plus"></span><i class="mkd-menu-arrow fa fa-angle-right"></i></span></a>
	<ul>
		<li id="nav-menu-item-21388" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://edu.garnishmusicproduction.com/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">World Home</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-21389" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://bcn.garnishmusicproduction.com/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">BCN</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-18715" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://ber.garnishmusicproduction.com" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">BER</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-21390" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://garnishmusicproduction.com/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">LDN</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-20442" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://lis.garnishmusicproduction.com/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">LIS</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-18531" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://hk.garnishmusicproduction.com" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">HK</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-21391" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://tyo.garnishmusicproduction.com/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">TYO</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-10671" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://la.garnishmusicproduction.com/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">LA</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-17933" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="http://mia.garnishmusicproduction.com" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">MIA</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-10670" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://nsh.garnishmusicproduction.com/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">NSH</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-21392" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://sea.garnishmusicproduction.com/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">SEA</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-18324" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://sf.garnishmusicproduction.com/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">SF</span></span><span class="plus"></span></span></a></li>
	</ul>
</li>
</ul></div></div>
</li>
<li id="nav-menu-item-9219" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mkd-has-sub mkd-menu-wide mkd-wide-background"><a href="#"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Music Production Courses</span></span><span class="plus"></span></span></a>
<div class="mkd-menu-second"><div class="mkd-menu-inner"><ul>
	<li id="nav-menu-item-20560" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mkd-sub mkd-wide-background"><a href="#" class="mkd-no-link" style="cursor: default;" onclick="JavaScript: return false;"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Accredited</span></span><span class="plus"></span><i class="mkd-menu-arrow fa fa-angle-right"></i></span></a>
	<ul>
		<li id="nav-menu-item-21302" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://la.garnishmusicproduction.com/undergraduate-business-and-music/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">F1 USA Visa Eligible (LA)</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-20667" class="menu-item menu-item-type-post_type menu-item-object-page mkd-wide-background"><a target="_blank" href="https://www.garnishmusicproduction.com/ba-pathway-courses/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">BA (Hons) Pathways (BCN)</span></span><span class="plus"></span></span></a></li>
	</ul>
</li>
	<li id="nav-menu-item-9228" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mkd-sub mkd-wide-background"><a href="#" class="mkd-no-link" style="cursor: default;" onclick="JavaScript: return false;"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Certified</span></span><span class="plus"></span><i class="mkd-menu-arrow fa fa-angle-right"></i></span></a>
	<ul>
		<li id="nav-menu-item-9909" class="menu-item menu-item-type-post_type menu-item-object-page mkd-wide-background"><a href="https://www.garnishmusicproduction.com/academy/electronic-music-production/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Garnish Industry Diploma</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-9907" class="menu-item menu-item-type-post_type menu-item-object-page mkd-wide-background"><a href="https://www.garnishmusicproduction.com/programs/ableton-producer-program/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Electronic Music Producer</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-18951" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://edu.garnishmusicproduction.com/international-academy/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">International Academy</span></span><span class="plus"></span></span></a></li>
	</ul>
</li>
	<li id="nav-menu-item-9226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mkd-sub mkd-wide-background"><a href="#" class="mkd-no-link" style="cursor: default;" onclick="JavaScript: return false;"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Shorter Tactical</span></span><span class="plus"></span><i class="mkd-menu-arrow fa fa-angle-right"></i></span></a>
	<ul>
		<li id="nav-menu-item-9775" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item mkd-wide-background"><a href="https://www.garnishmusicproduction.com/courses/ableton-live-course-london/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Ableton Live</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-20390" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item mkd-wide-background"><a href="https://www.garnishmusicproduction.com/courses/songwriting-course-london/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Hit Songwriting</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-9774" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item mkd-wide-background"><a target="_blank" href="https://www.garnishmusicproduction.com/courses/logic-pro-x-course-london/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Logic Pro</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-18956" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://www.musicgurus.com/learn/garnish-music-production-online-courses/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Logic Self-Paced Online</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-9771" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item mkd-wide-background"><a href="https://www.garnishmusicproduction.com/courses/mixing-and-mastering-course-london/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Mixing &#038; Mastering</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-19284" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item mkd-wide-background"><a href="https://www.garnishmusicproduction.com/courses/composition/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Composition</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-19285" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item mkd-wide-background"><a href="https://www.garnishmusicproduction.com/courses/rhythm-section-programming/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Rhythm Section Programming</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-19283" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item mkd-wide-background"><a href="https://www.garnishmusicproduction.com/courses/vocal-production/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Vocal Production</span></span><span class="plus"></span></span></a></li>
	</ul>
</li>
	<li id="nav-menu-item-18829" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mkd-sub mkd-wide-background"><a href="#" class="mkd-no-link" style="cursor: default;" onclick="JavaScript: return false;"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">More</span></span><span class="plus"></span><i class="mkd-menu-arrow fa fa-angle-right"></i></span></a>
	<ul>
		<li id="nav-menu-item-17251" class="menu-item menu-item-type-post_type menu-item-object-page mkd-wide-background"><a href="https://www.garnishmusicproduction.com/bespoke-private-tuition/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Private Tuition</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-20232" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a href="https://garn.link/discord" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Online Community</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-17506" class="menu-item menu-item-type-post_type menu-item-object-portfolio-item mkd-wide-background"><a href="https://www.garnishmusicproduction.com/courses/school-summer-camp/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Summer Camp</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-20178" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a target="_blank" href="https://edu.garnishmusicproduction.com/gift/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Gift Certificate</span></span><span class="plus"></span></span></a></li>
		<li id="nav-menu-item-18828" class="menu-item menu-item-type-custom menu-item-object-custom mkd-wide-background"><a href="https://edu.garnishmusicproduction.com/live-online/" data-wpel-link="external" rel="external noopener noreferrer"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Live Online</span></span><span class="plus"></span></span></a></li>
	</ul>
</li>
</ul></div></div>
</li>
<li id="nav-menu-item-10956" class="menu-item menu-item-type-post_type menu-item-object-page mkd-menu-narrow mkd-wide-background"><a href="https://www.garnishmusicproduction.com/contact-map/" data-wpel-link="internal"><span class="mkd-item-outer"><span class="mkd-item-inner"><span class="mkd-item-text">Contact</span></span><span class="plus"></span></span></a></li>
</ul></nav>

					</div>
				</div>
                <div class="mkd-position-right">
                    <div class="mkd-position-right-inner">
                            <div class="header-widget-area">
        		<div class="mkd-shopping-cart-outer">
			<div class="mkd-shopping-cart-inner">
				<div class="mkd-shopping-cart-header">
					<a class="mkd-header-cart" href="https://www.garnishmusicproduction.com/cart/" data-wpel-link="internal">
						<span class="mkd-cart-icon fa fa-shopping-cart"></span>
						<span class="mkd-cart-amount">0</span>
					</a>

					<div class="mkd-shopping-cart-dropdown">
												<ul>

							
								<li class="mkd-empty-cart">No products in the cart.</li>
							</ul>

							                                                        
						
						

						
											</div>
				</div>
			</div>
		</div>
		
        <div id="mkd_side_area_opener-2" class="widget widget_mkd_side_area_opener mkd-header-widget">
        <a class="mkd-side-menu-button-opener normal" href="javascript:void(0)" data-wpel-link="internal">
            <span class="mkd-sai mkd-sai-one"></span><span class="mkd-sai mkd-sai-two"></span><span class="mkd-sai mkd-sai-three"></span>        </a>

        </div>
        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </header>


<header  class="mkd-mobile-header">
