
					</div>
				</div>
                <div class="mkd-position-right">
                    <div class="mkd-position-right-inner">
                            <div class="header-widget-area">
        		<div class="mkd-shopping-cart-outer">
			<div class="mkd-shopping-cart-inner">
				<div class="mkd-shopping-cart-header">
					<a class="mkd-header-cart" href="https://www.garnishmusicproduction.com/cart/" data-wpel-link="internal">
						<span class="mkd-cart-icon fa fa-shopping-cart"></span>
						<span class="mkd-cart-amount">0</span>
					</a>

					<div class="mkd-shopping-cart-dropdown">
												<ul>

							
								<li class="mkd-empty-cart">No products in the cart.</li>
							</ul>

							                                                        
						
						

						
											</div>
				</div>
			</div>
		</div>
		
        <div id="mkd_side_area_opener-2" class="widget widget_mkd_side_area_opener mkd-header-widget">
        <a class="mkd-side-menu-button-opener normal" href="javascript:void(0)" data-wpel-link="internal">
            <span class="mkd-sai mkd-sai-one"></span><span class="mkd-sai mkd-sai-two"></span><span class="mkd-sai mkd-sai-three"></span>        </a>

        </div>
        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </header>


<header  class="mkd-mobile-header">
