<header  class="mkd-page-header">
            <div class="mkd-fixed-wrapper">
        <div class="mkd-menu-area" style=";">
        			            <div class="mkd-vertical-align-containers">
                <div class="mkd-position-left">
                    <div class="mkd-position-left-inner">
                        
<div class="mkd-logo-wrapper">
    <a href="https://www.garnishmusicproduction.com/" style="height: 34px;" data-wpel-link="internal">
        <img class="mkd-normal-logo" src="/api/media/file/Ableton-Live-10-production-course-2.jpg" alt="logo" style="height: 34px; width: auto;"/>
        <img class="mkd-dark-logo" src="/api/media/file/Ableton-Live-10-production-course-2.jpg" alt="dark logoo" style="height: 34px; width: auto;"/>        <img class="mkd-light-logo" src="/api/media/file/Ableton-Live-10-production-course-2.jpg" alt="light logo" style="height: 34px; width: auto;"/>    </a>
</div>

                    </div>
                </div>
				<div class="mkd-position-center">
					<div class="mkd-position-center-inner">
						
