<header  class="mkd-page-header">
            <div class="mkd-fixed-wrapper">
        <div class="mkd-menu-area" style=";">
        			            <div class="mkd-vertical-align-containers">
                <div class="mkd-position-left">
                    <div class="mkd-position-left-inner">
                        
<div class="mkd-logo-wrapper">
    <a href="https://www.garnishmusicproduction.com/" style="height: 34px;" data-wpel-link="internal">
        <img class="mkd-normal-logo" src="/theme/images/logo.gif" alt="logo"/>
        <img class="mkd-dark-logo" src="/theme/images/logo.gif" alt="dark logoo"/>        <img class="mkd-light-logo" src="/theme/images/logo.gif" alt="light logo"/>    </a>
</div>

                    </div>
                </div>
				<div class="mkd-position-center">
					<div class="mkd-position-center-inner">
						
